@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cookie&display=swap");
@import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  background: #333; }

.h2, .h3, .h4 {
  line-height: 1.4;
  text-transform: uppercase; }

.h6, .h5 {
  font-weight: bold; }

a:hover {
  text-decoration: none; }

.button {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear; }

.dark {
  background-color: #2a3b40;
  color: #fff; }

.light {
  background-color: rgba(255, 255, 255, 0.8);
  color: #2a3b40; }

.photo img {
  width: 100%;
  height: auto; }

.text {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .text_title_s {
    font-size: 30px; }
  .text_title_xs {
    font-size: 18px; }
  .text_title_m {
    font-size: 48px;
    color: #ad6c12;
    font-weight: 600;
    line-height: .8; }
    .text_title_m span {
      font-family: cookie;
      font-size: 77px;
      color: #2a3b40;
      font-weight: 500;
      text-transform: capitalize;
      display: block; }
  .text_title_l {
    font-size: 71px;
    font-family: cookie;
    text-align: center; }
  .text_s {
    font-size: 18px; }
    .text_s .cs {
      margin-top: 30px; }
      .text_s .cs span {
        font-weight: bold; }
  .text_xs {
    font-size: 16.6px; }

.header {
  min-height: 700px;
  background: url("../img/bg1.png") no-repeat;
  background-size: cover; }
  .header nav a {
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #fff;
    font-size: 35px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }
    .header nav a:hover {
      color: #ad6c12;
      text-decoration: none; }
  .header_main {
    margin: 200px 0; }
  .header_content {
    padding: 100px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.82); }
  .header_logo {
    font-family: 'cookie';
    font-size: 104px;
    color: #2a3b40;
    line-height: .5; }
  .header_title {
    font-size: 77px;
    color: #ad6c12;
    white-space: nowrap; }
  .header_parrent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header_button {
    color: #2a3b40;
    font-size: 39px;
    background-color: #fff;
    padding: 5px 20px; }
    .header_button:hover {
      background-color: #2a3b40;
      color: #fff; }

.block {
  padding: 60px 0; }
  .block img {
    max-width: 100%;
    height: auto; }

.new {
  padding: 100px 0; }
  .new .text_xs {
    margin-top: 25px; }

.circle {
  display: inline-block;
  margin-bottom: 25px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #2a3b40; }

.menu {
  background: url("../img/bg2.png") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu_content {
    margin: 100px;
    padding-top: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.82); }
  .menu_img {
    width: 100%;
    height: auto; }
  .menu .food_name {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase; }
  .menu .food_description {
    font-size: 17px; }
  .menu .food_price {
    font-size: 16px;
    font-weight: bold; }

.cuisine {
  padding: 80px 0;
  text-align: center; }
  .cuisine .img {
    height: 100%;
    width: auto;
    position: absolute;
    display: block; }
    .cuisine .img_left {
      left: 0; }
    .cuisine .img_right {
      right: 0;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .cuisine_menu .menu_item {
    display: inline;
    font-weight: bold;
    font-size: 16px;
    margin-right: 60px; }

.new_menu {
  background: url("../img/bg3.png") no-repeat;
  background-size: cover;
  padding-top: 240px; }
  .new_menu_content {
    padding: 40px 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.82); }
    .new_menu_content .h2 {
      text-align: center;
      margin-bottom: 20px; }
    .new_menu_content .h6 {
      text-transform: uppercase; }
    .new_menu_content p {
      margin: 0; }
  .new_menu .menu_icon {
    max-width: 70px;
    height: auto;
    vertical-align: middle; }
  .new_menu .circle_icon {
    display: block;
    padding: 0 15px;
    margin-right: 20px;
    width: 85px;
    height: 85px;
    border-radius: 10em;
    line-height: 85px;
    text-align: center;
    -webkit-transition: .25s ease;
    -o-transition: .25s ease;
    transition: .25s ease;
    background-color: #fff; }

.input, .book_button {
  width: 230px;
  font-size: 16.6px;
  color: #fff;
  padding: 2px 0 2px 8px;
  border: 1px solid #fff;
  background: #2a3b40;
  border-radius: 8px; }
  .input::-webkit-input-placeholder, .book_button::-webkit-input-placeholder {
    color: #fff; }
  .input::-moz-placeholder, .book_button::-moz-placeholder {
    color: #fff; }
  .input:-ms-input-placeholder, .book_button:-ms-input-placeholder {
    color: #fff; }
  .input::-ms-input-placeholder, .book_button::-ms-input-placeholder {
    color: #fff; }
  .input::placeholder, .book_button::placeholder {
    color: #fff; }

.book_button:hover {
  background-color: #fff;
  color: #2a3b40; }

.book {
  padding: 40px 0 70px; }
  .book h2 {
    line-height: 1; }
  .book .container > div:not(:first-child) {
    margin-top: 40px; }

@-webkit-keyframes button_width {
  0% { }
  width: 10%;
  50% { }
  width: 50%;
  100% { }
  width: 100%; }

@keyframes button_width {
  0% { }
  width: 10%;
  50% { }
  width: 50%;
  100% { }
  width: 100%; }

.menu_card .card_body {
  margin: 20px; }

.menu_card .card_date {
  font-size: 14px;
  font-weight: bold; }

.menu_card .card_img {
  width: 100%; }

.menu_card .card_button {
  font-weight: bold;
  color: #2a3b40;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition: 3s ease-in-out width;
  -o-transition: 3s ease-in-out width;
  transition: 3s ease-in-out width; }
  .menu_card .card_button:after {
    background-color: #ff992b;
    display: block;
    content: "";
    height: 7px;
    width: 10%; }
  .menu_card .card_button:hover::after {
    width: 500%; }

.menu_card .card .text_xs {
  line-height: 1.3; }

.menu_card .row:nth-child(2) {
  padding-bottom: 120px; }

.menu_card .row:nth-child(1) {
  padding: 40px 0 50px; }

.quote {
  text-align: center; }
  .quote .row:nth-child(1) {
    margin-top: 40px; }
  .quote_text {
    font-weight: bold;
    font-size: 83px;
    line-height: 1; }
  .quote .h5 {
    margin-bottom: 25px; }
  .quote .text {
    padding-bottom: 40px; }
  .quote .social {
    margin: 25px 0 40px;
    display: inline; }
    .quote .social .social_item {
      display: inline;
      font-weight: bold;
      font-size: 30px;
      margin: 0 10px 0;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .quote .social .social_item a {
        color: #2a3b40;
        background-color: #fff;
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius: 10em;
        line-height: 45px;
        text-align: center;
        -webkit-transition: .25s ease;
        -o-transition: .25s ease;
        transition: .25s ease; }
        .quote .social .social_item a:hover {
          background-color: rgba(255, 255, 255, 0.8); }

.no-gutters {
  padding-right: 0;
  padding-left: 0; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

::-moz-selection {
  background-color: #ad6c12;
  color: #fff; }

::selection {
  background-color: #ad6c12;
  color: #fff; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
